<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @order.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @order.end_date %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
